﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Login.aspx.vb" Inherits="Login" %>

<!doctype html>
<html lang="es">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- Required meta tags -->
<link rel="stylesheet" href="css/style.css">
<!-- favicon -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<title>Shipex</title>
</head>
<body>
    <form id="panel" runat="server">
<!--header-->
<nav class="navbar bg-corp">
  <!-- Navbar content -->
  <a class="navbar-brand mx-auto d-block img-fluid" href="#"><img src="images/logo-shipex.png" width="135" height="45" alt="Shipex"/></a> </nav>
<!-- login-->
<div class="container py-3">
  <div class="row">
    <div class="col-12">
      
        <div class="form-group">
          <label for="user">Usuario</label>
          <%--<input type="text" class="form-control" id="user" aria-describedby="emailHelp">--%>
            <asp:TextBox runat="server" ID="user" CssClass="form-control"></asp:TextBox>
        </div>
        <div class="form-group">
          <label for="pass">Clave</label>
         <%-- <input type="password" runat="server" class="form-control" id="pass">--%>
            <asp:TextBox runat="server" ID="pass" CssClass="form-control" TextMode="Password"></asp:TextBox>
        </div>
        <asp:Button text="Enviar" class="btn btn-secondary" ID="btn_enviar" runat="server"></asp:Button>
     
    </div>
  </div>
  <!-- / login-->
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</form>
</body>
</html>

